<div class="col-10 offset-1 about">
  <h1> About digiCV </h1>

  <center>
    <p>

      digiCV was built by <a target= "_blank" href="https://github.com/snsmith92"> Sherzel Smith Williams</a>, a Firehose Project bootcamp student as part of a quiz. <strong> She hopes she passed the test! </strong> 
    </p>

    <p>
      digiCV is for people who have grown tired of repeatedly and monotonously entering their CV details into a remote website.
    </p>
    <br />
    <br />
    <p> 
      To learn more about the vision behind digiCV (or to let Sherzel know if she passed or not), please send us an <a href="mailto:sherzelsmith@gmail.com">email</a>!
  </center>
  
  <br />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />