
<div class="col-10 offset-1">
  <h1>Welcome to DigiCV</h1>

  <h2> The digital CV platform </h2>


  <p> DigiCV allows users to upload their CV details into a digital entry form that can be easily uploaded with the click of a button to online job applications </p>

  <p> No more tediously typing out the contents of your CV for each and every job application! DigiCV knows all your details and fills them all in -- instantly </p>

  <h2> How does it work? </h2> 

</div>