
<div class="col-10 offset-1">
  <h1>Welcome to DigiCV</h1>

  <h2> The digital CV platform </h2>

<br />
<br />

  <p> DigiCV allows users to upload their CV details into a digital entry form that can be easily uploaded with the click of a button to online job applications. </p>

  <p> No more tediously typing out the contents of your CV for each and every job application! DigiCV knows all your details and fills them all in - <strong>instantly</strong> ! </p>
<br />
<br />

  <h2> How does it work? </h2> 

</div>

<div class="box">
    <h4>1. Create your account</h4>
      <p>
        Create an account using our easy sign up tool
      </p>
</div>

<div class="box2">
    <h4>2. Enter your CV details using the DigiCV tool</h4>
      <p>
        Fill out your CV using the DigiCV tool which can interpret PDFs and DOCX files
      </p>
</div>

<br class="clear" />

<div class="box">
    <h4>3. Install the DigiCV web browser plugin</h4>
      <p>
        Simply install our browser plugin to automatically load your CV info into online job applications
      </p>
</div>

<div class="box2">
    <h4>4. Find the job of your dreams - fast! </h4>
      <p>
        Start applying for jobs!
      </p>
</div>